<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="World_Search_7_2021.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <World_Search_7_2021.Properties.Settings>
            <setting name="Homepage" serializeAs="String">
                <value>https://bing.com</value>
            </setting>
            <setting name="Search" serializeAs="String">
                <value>https://www.bing.com/search?q=</value>
            </setting>
            <setting name="WebPageTitle" serializeAs="String">
                <value>Bing</value>
            </setting>
            <setting name="FormBackround" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Microsoft Sans Serif, 15.75pt, style=Bold, Italic</value>
            </setting>
        </World_Search_7_2021.Properties.Settings>
    </userSettings>
</configuration>